
/* Our default values set as CSS variables */
:root {
  --color-bg: #011F28;
  --color-text-main: #C6E7E5;
  --color-radio: #1E6685;
  --color-button: #CCCCCC;
  --color-primary: #AFECE0;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Page structure */
body {
  font-family: Helvetica, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-main);
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
}

button {
  background: var(--color-button);
}

.radio {
  background: var(--color-radio);
  margin: 5px;
  padding: 3px;
  box-sizing: border-box;
  flex-basis: 30%;
  flex-grow: 1;
  text-align: center;
}

.radio span {
  margin-left: 3px;
}

.percentage-input {
  margin: 5px auto 10px;
  display: block;
}

.percentage-slider {
  width: 100%;
  margin: 0px auto 20px;
  display: block;
}

.slider-red {
  accent-color: darkred;
}

.add-drink {
  margin: 5px auto;
  padding: 5px 20px;
  display: block;
}

.sliderMinMax {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.warning {
  font-size: larger;
  font-weight: 1000;
  text-align: center;
  color: red;
}